.container{
    text-align: justify;
}
img{
    width: 100%;
    padding-bottom: 2rem;
}
footer{
    text-align: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}